<!-- Example of finished code https://github.com/claraj/vue-week-2 -->

<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app" v-cloak>                                                  <!-- Hides the div elements until page loads, also add to styles.css (check under [v-cloak]) -->


        <!-- show errors from form validation -->
        <div class="alert alert-danger" v-if="errors.length >0">
            <ul>
                <li v-for="error in errors">{{ error}}</li>
            </ul>
        </div>

        <div class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group">
                <label for="name">Name</label>
              
                <input id="name" class="form-control" v-model.trim="newStudentName">                <!-- .trim clears whitespace from beginning and end to validate against spaces being entered -->
            </div>
            <div class="form-group">
                <label for="starID">Star ID</label>
                
                <input id="starID" class="form-control" v-model.trim="newStarID">                   <!-- .trim clears whitespace from beginning and end to validate against spaces being entered -->
            </div>
            
            <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>

                   <!-- create table rows 
                   Each row will have a checkbox, bound to the app's data 
                   When the checkbox is checked/unchecked, the student will be signed in/out -->

                    <tr v-for="student in students"v-bind:class=" { present: student.present, absent: !student.present } ">
                       <!-- <td>{{ students }}</td> -->
                       <td>{{ student.name }}</td>
                       <td>{{ student.starID }}</td>
                       <td>
                           <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">           <!-- sets specific student -->
                       </td>
                    </tr>

                </table>
            </div>
        </div>


        <!-- show a message when student arrives or leaves  -->
        <div v-if="mostRecentStudent.name">

            <div class="alert alert-info" v-if="mostRecentStudent.present">             <!-- https://getbootstrap.com/docs/4.0/components/alerts/-->
                Welcome, {{ mostRecentStudent.name }}
            </div>

            <div class="alert alert-success" v-else>
                Goodbye, {{ mostRecentStudent.name }}. See you later.
            </div>
        </div>


    </div>

    <script>
        //  Vue app     
        let app = Vue.createApp({
            // create app
            data() {
                return {
                    newStudentName: '',
                    newStarID: '',
                    students: [
                        { name: 'A. Student', starID: 'aa1234bb', present: false },
                        { name: 'B. Student', starID: 'cc1234dd', present: false },
                        { name: 'C. Student', starID: 'ee1234ff', present: false }
                    ],
                    errors:[],
                    mostRecentStudent: {} // for the most recent arrival or most recent departure
                }
            }, 
            methods: {
                addStudent() {
                    // Validation of no empty info entered
                    this.errors = []                            // clears errors array
                    if (!this.newStudentName) {
                        this.errors.push('Student name must be entered')
                    }

                    if (!this.newStarID) {
                        this.errors.push('StartID must be entered')
                    }

                    // todo add other checks here if needed

                    // if (this.newStudentName && this.newStarID) {                    // Better to check each form field one at a time to validate
                    // // todo add student.
                    //  let student = { name: this.newStudentName, starID: this.newStarID, present: false }
                    //  this.students.push(student)                                     // adds to the students array
                    //  this.newStudentName = ''                                        // clears the form Name
                    //  this.newStarID = '' 
                    // }                                                                // clears the form Star ID  
                 // if there are no errors   
                    if (this.errors.length == 0) {                  
                        let student = { name: this.newStudentName, starID: this.newStarID, present: false }
                        this.students.push(student)                                     // adds to the students array
                        this.newStudentName = ''                                        // clears the form Name
                        this.newStarID = ''

                  // Sorting alphabetically      
                        this.students.sort(function(s1, s2) {
                            // Video 4 Topic 9
                             // return positive number if s1 should be sorted after s2
                             if (s1.name.toUpperCase() > s2.name.toUpperCase()) {
                                 return 1
                             }
                             if (s1.name.toUpperCase() < s2.name.toUpperCase()) {
                                 return -1
                             }
                             return 0
                             // return 0 if order is equivalant
                             // optional - if names are the same, sort by starID
                             // return negative number if s1 should be sorted before s2
                             // return 0 if order is equivalent
                        })
                    }  
                    
                    // how to display errors to user?
                },
                arrivedOrLeft(student) {
                    // console.log('Someone arrived or left')                              // verifies event handler works
                    // console.log('Someone arrived or left', student)                     // Verifies which student (array) has left 
                    this.mostRecentStudent = student
                }
            }
        })

        app.mount('#app')

    </script>

</body>

</html>


                
